# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# --- OS ---
.DS_Store
Thumbs.db

# --- Jupyter ---
.ipynb_checkpoints/

# logs
**/generation_log*.txt

# Excel
*.xlsx

# Nested git repos
**/.git/
